# 卷驱动
VOLUMES_DRIVER=local

# 为所有存储系统选择您机器上的存储路径
DATA_PATH_HOST=./fresns_data

# 本地文件地址(开发使用)
# LOCAL_FILE_PATH=./app_fresns
LOCAL_FILE_PATH=app

# 工作目录
APP_PATH=/www/app/

# 工作时区
WORKSPACE_TIMEZONE=UTC-8

# mysql
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

# redis
REDIS_PORT=6379
REDIS_PASSWORD=secret_redis

# nginx
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_SITES_PATH=./nginx/sites/
NGINX_PHP_UPSTREAM_CONTAINER=fresns
NGINX_PHP_UPSTREAM_PORT=9000
NGINX_SSL_PATH=./nginx/ssl/


# 指向APP_CODE_PATH_HOST在容器中的位置
APP_CODE_PATH_CONTAINER=$APP_PATH

# 是否为中国地区
CHANGE_SOURCE=true
